@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#F7FFD7;
}

/* 見出し(h1~h6)のスタイリング */
.markdown-content{
  h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    
    h1 {
      font-size: 1.5rem;
      border-bottom: 2px solid #333;
      padding-bottom: 0.5rem;
    }
    
    h2 {
      font-size: 1rem;
      border-bottom: 1px solid #333;
      padding-bottom: 0.25rem;
    }
    
    h3 {
      font-size: 0.75rem;
    }
    
    /* コードブロックのスタイリング */
    pre {
      background-color: #f5f5f5;
      padding: 1rem;
      border-radius: 0.25rem;
      overflow-x: auto;
    }
    
    code {
      font-family: 'Courier New', Courier, monospace;
    }
    
    /* 引用のスタイリング */
    blockquote {
      background-color: #f5f5f5;
      padding: 1rem;
      border-left: 4px solid #333;
      margin-left: 0;
    }
    
    /* リンクのスタイリング */
    a {
      color: #0366d6;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
  }